<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    
    <groups>
        <exclude>
            <group>stress</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="doc/coverage" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="50" highLowerBound="90"/>
    </logging>
</phpunit>
